* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../../public/img/one-piece-world-map-desktop-wallpaper-preview3.jpg);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7b929c;
    padding-inline: 2rem;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 2rem;
    display: flex;
    gap: 1rem;
}

.nav {
    display: flex;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.nav-link {
    text-decoration: none;
    color: #bbec09;
    font-size: 24px;
}

.nav-link.active {
    font-weight: bold;
    text-decoration: underline;
}

.nav-link:hover {
    color: #CD3D18;
}

.products-container {
    font-size: 30px;
    min-height: 30vh;
    display: grid;
    place-items: center;
}

.carrito {
    background-color: #18B55A;
    padding: 1rem;
    border-radius: 50%;
}

.carrito img {
    height: 40px;
    width: 40px;
}

.carritoCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.itemCard {
    display: flex;
    background-color: #7b929c;
    color:#bbec09;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #7b929c;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: 80%;
}

.itemCard div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-list-container-title {
    text-align: center;
}

.carritoTotal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.carritoTotalTitle {
    margin-bottom: 10px;
}

.carritoTotalButtons {
    display: flex;
    gap: 10px;
}

.carritoTotalVaciar {
    background-color: #ff0000;
    margin-bottom: 20px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
}

.botonfinalizar {
    background-color: #18B55A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    text-decoration: none;
    text-align: center;
}

.carritoEstado {
    text-align: center;
    margin: 3rem auto 9rem;
    color: #ff0000;
}

.mensajecomprado{
    display: flex;
    flex-direction: column;
    background-color: #7b929c;
    color:#bbec09;
    align-items: center;
    border: 1px solid #7b929c;
    border-radius: 20px;
    padding: 10px;
    margin: 5rem auto 17rem;
    width: 60%;
}

.mensajecomprado h1{
    margin-bottom: 30px;
    font-size: 38px;
}

.item-list-container {
    max-width: 1000px;
    margin: 0 auto;
}

.item-list-container-title {
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
    color: #057cfba8;
}

.productos-grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-items: center;
    width: 100%;
}

.charging {
    font-size: 2rem;
    color: #057cfba8;
    font-weight: bold;
    margin: 5rem auto 10rem;
}

.producto {
    margin-top: 1rem;
    background-color: #7b929c;
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
    color: #bbec09;
}

.producto-image {
    width: 150px;
    border-radius: 10px;
}

.producto-name {
    font-size: 26px;
}

.producto-price {
    font-size: 24px;
    color: #FFF;
    margin: .5rem;
}

.producto-description {
    margin: .8rem;
}

.producto-ppal {
    display: flex;
    justify-content: center;
    margin: 5rem;
}

.producto-detail-cart {
    width: 100%;
    background-color: #7b929c;
    border-radius: 1rem;
    text-align: center;
    padding: 2rem;
    max-width: 570px;
    color: #bbec09;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.producto-detail-image img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.producto-detail-name {
    margin-top: 1rem;
    font-size: 2rem;
}

.producto-detail-price {
    margin: 0.5rem 0;
    font-size: 1.5rem;
    color: #FFF;
}

.producto-detail-description {
    margin-top: 1rem;
    font-size: 20px;
    ;
}

.link-info {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50%;
    background-color: #b6b607;
    color: white;
    text-decoration: none;
    font-size: 15px; 
    transition: background-color 0.3s ease;
}

.link-info:hover{
    background-color: #84800b;
}

.producto-detail-add {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    background-color: #18B55A;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    width: 150px;
    height: 30px;
    border-radius: 10px;   
}

.producto-detail-add:hover {
    background-color: #84800b;
}

.producto-detail-cart:hover {
    transform: translateY(-10px);
}

.formbox {
    background-color: #7b929c;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formboxtitle {
    color: #bbec09;
    font-size: 24px;
    text-align: center;

}

.formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formularioitem {
    margin-top: 1.5rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulariobutton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.notFound {
    color: #CD3D18;
    background-color: black;
    font-size: 3rem;
    text-align: center;
    margin-block: 10rem;
}

.grid {
    display: grid;
}

.footerContainer {
    display: flex;
    padding-block: 50px;
    justify-content: center;
    width: 100%;
    color: #bbec09;
    background-color: #7b929c;
    margin-top: 2rem;
    font-size: 1.5em;
    margin-bottom: 0;
}